{% extends 'tests/layout.html' %}
{% load static %}

{% block title %}ReviewGem-Account{% endblock %}

{% block message_popup %}
{% if messages %}
<div class="messages">
    {% for message in messages %}
        <p {% if message.tags %} class="{{message.tags}}" {% endif %}>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
{% endblock %}

{% block content %}
<h2>회원등록</h2>
<div id="account">
  <h3 class="info_title">회원 정보 입력</h3>
  <div class="login_wrapper">
    <form method="post" action="{% url 'account'%}">{% csrf_token %}
      <label for="user_id">아이디 : </label><input type="text" id="user_id" name="user_id"/>
      <label for="user_nickname">닉네임 : </label><input type="text" id="nickname" name="user_nickname"/>
      <label for="user_password">패스워드 : </label><input type="password" id="password" name="user_password"/>
      <label for="user_passowrd_confirm">패스워드 확인 : </label><input type="password" id="confirm" name="user_password_confirm"/>
  </div>
  <button type="submit" name="create_user_account">회원가입</button>
    </form>
</div>

{% endblock %}
