{% extends 'tests/layout.html' %}
{% load static %}

{% block title %}ReviewGem-Category{% endblock %}
{% block js_import %}/static/js/category.js{% endblock %}

{% block content %}
  <div id="category_filter">
    <div id="category_phone">
      <h2>Mobile</h2>
    </div>
    <div id="filter">
      <input type="hidden" id="cate_code" value="{{cate_code}}"/>
      <ul class="cate_list">
	{% for category in category_list %}
	<li value="{{category.id}}"><a href="/category/{{ category.id }}">{{ category.category_name2 }}</a></li>
	{% endfor %}
      </ul>
    </div>
  </div>
  <div id="search_result">
    {% for category_product in category_product_lists %}
    <div class="search_product">
      <h2><a href="/detail/{{ category_product.product.id }}">{{ category_product.product.name }}</a></h2>
      <div class="product_image">
	<a href="/detail/{{ category_product.product.id }}"><img src="{{ category_product.product.image_url }}"/></a>
      </div>
      <div class="product_procon">
	<div class="procon">
	  <p class="procon_title">Good!!!</p>
	  <div class="divider"><span></span></div>
	  <div class="pros">
	    {% for pros in category_product.pros.0 %}
	    <p><font class="attribute_good">{{ pros }}</font></p>
	    {% endfor %}
	  </div>
	</div>
	<div class="procon">
	  <p class="procon_title">Bad...</p>
	  <div class="divider"><span></span></div>
	  <div class="cons" >
	    {% for cons in category_product.cons.0 %}
	    <p><font class="attribute_bad">{{ cons }}</font></p>
	    {% endfor %}
	  </div>
	</div>
      </div>
      <div class="product_detail">
	<div class="product_reviews">
	  {% for review_list in category_product.review %}
	  <div class="product_review">
	    <a href="{{review_list.url}}" class="review_title" target="blank">{{ review_list.title }}</a>
	    <p class="review_date">{{ review_list.creation_time }}</p>
            <p class="review_content">
              {{review_list.sentences}}
            </p>
	  </div>
	  {% endfor %}
	</div>
      </div>
    </div>
    <div class="divider"></div>
    {% endfor %}
  </div>
{% endblock %}
