{% extends 'tests/layout.html' %}
{% load static %}

{% block title %}{{product_detail.product.name}}{% endblock %}
{% block js_import %}/static/js/detail.js{% endblock %}

{% block content %}
  <div id="left">
    <ul>
      <li id="nav1">제품 정보 요약</li>
      <li id="nav2">사용자 리뷰</li>
      <li id="nav3">한 줄 상품평</li>
    </ul>
    <h3>골라 보기</h3>
    <div class="divider"><span></span></div>
    <div id="left_filter">
      <input type="radio" id="option11" name="filter_item" value="11" checked="checked"/><label for="option11">전체보기</label>
      <input type="radio" id="option1" name="filter_item" value="8"/><label for="option1">배터리</label>
      <input type="radio" id="option2" name="filter_item" value="1"/><label for="option2">디스플레이</label>
      <input type="radio" id="option3" name="filter_item" value="10"/><label for="option3">해상도</label>
      <input type="radio" id="option4" name="filter_item" value="3"/><label for="option4">카메라</label>
      <input type="radio" id="option5" name="filter_item" value="5"/><label for="option5">자체 성능</label>
      <input type="radio" id="option6" name="filter_item" value="4"/><label for="option6">휴대성</label>
      <input type="radio" id="option7" name="filter_item" value="9"/><label for="option7">가격</label>
      <input type="radio" id="option8" name="filter_item" value="2"/><label for="option8">디자인</label>
      <input type="radio" id="option9" name="filter_item" value="7"/><label for="option9">그립감</label>
      <input type="radio" id="option10" name="filter_item" value="6"/><label for="option10">내구성</label>
      <input type="radio" id="option0" name="filter_item" value="0"/><label for="option0">기타</label>
    </div>
  </div>
  <div id="detail_content">
    <div id="branch">
      <a href="/category/{{ branch_data.category_id }}">{{ branch_data.category_name1 }}</a>
        <label>&gt;</label>
      <a id="category_branch" href="/category/{{ branch_data.category_id }}">{{ branch_data.category_name }}</a>
        <label>&gt;</label>
      <a id="product_branch">{{ branch_data.product_name }}</a>
    </div>
    <div id="product">
      <h2>제품 정보 요약</h2>
      <div class="divider"><span></span></div>
      <div id="product_title">
	<h3>{{ product_detail.product.name }}</h3>
	<h3>{{ product_detail.product.product_model }}</h3>
      </div>
      <div id="product_data">
	<div id="product_pic">
	  <img src="{{ product_detail.product.image_url }}"/>
	</div>
	<div id="pi_chart">
	</div>
	<div id="product_procon">
	  <div class="procon">
	    <p>장점 의견</p>
	    <div class="divider"><span></span></div>
	    {% for pro_list in product_detail.pros %}
            {% for pro in pro_list %}
            <p>
                <font class="attribute_good">{{ pro }}</font>
<!--                <img id="thumb_up" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMKZF2FYxpSt8IBM3sUhrGzwIIeCXwbXArCLa_WfjxcgTD8r30_w"/>
                <img id="thumb_down" src="https://cdn3.iconfinder.com/data/icons/lightly-icons/30/652877-thumbs-down-30.png"/> -->
            </p>
            {% endfor %}
	    {% endfor %}
	  </div>
	  <div class="procon">
	    <p>단점 의견</p>
	    <div class="divider"><span></span></div>
	    {% for con_list in product_detail.cons %}
            {% for con in con_list %}
	    <p><font class="attribute_bad">{{ con }}</font></p>
            {% endfor %}
	    {% endfor %}
	  </div>
	</div>
	<div id="bar_chart">
	  <table id="chart_data" style="visibility:hidden;">
	    <tr id="chart_category">
	      {% for chart in chart_data %}
	      <td>{{ chart.key }}</td>
	      {% endfor %}
	    </tr>
	    <tr id="chart_positive">
	      {% for chart in chart_data %}
	      <td>{{ chart.positive }}</td>
	      {% endfor %}
	    </tr>
	    <tr id="chart_negative">
	      {% for chart in chart_data %}
	      <td>{{ chart.negative }}</td>
	      {% endfor %}
	    </tr>
	    <tr id="chart_value">
	      {% for chart in chart_data %}
	      <td>{{ chart.value }}</td>
	      {% endfor %}
	    </tr>
	    <tr id="chart_total">
	      {% for chart in chart_data %}
	      <td>{{ chart.total }}</td>
	      {% endfor %}
	    </tr>
	  </table>
	</div>
      </div>
    </div>

    <div id="review">
      <div>
      <h2 id="user_review">사용자 리뷰</h2>
      <a><label id="date_order" class="order_label">최신순</label></a>
      <a><label class="order_label">관련순</label></a>
      </div>
      <div class="divider"><span></span></div>
      <div id="procon_tab">
    <h3 id="all_button" class="tab_title procon_state" value="3">전체 보기</h3>
	<h3 id="pros_button" class="tab_title procon_state" value="0">장점만 보기</h3>
	<h3 id="cons_button" class="tab_title procon_state" value="2">단점만 보기</h3>
      </div>
      <div id="review_content">
      </div>
      <div id="pagenator">
        <a id="prev_page" class="page_move" value="">&lt;</a>
        <input type="hidden" id="current_page"/>
        <a class="paging pagenation">1</a>
        <a class="paging pagenation">2</a>
        <a class="paging pagenation">3</a>
        <a class="paging pagenation">4</a>
        <a class="paging pagenation">5</a>
	<span>...</span>
        <a id="max_page" class="pagenation"></a>
        <a id="next_page" class="page_move" value="">&gt;</a>
      </div>
    </div>
    <div id="twit">
      <h2>한 줄 상품평</h2>
      <div class="divider"><span></span></div>
      <div id="twits">
	{% for twit in product_detail.twit %}
	<div class="twit">
	  <p class="twit_username">{{ twit.username }}</p>
	  <p class="twit_date">{{ twit.create_time }}</p>
	  <p class="twit_content">{{ twit.content }}</p>
	</div>
	{% endfor %}
      </div>
    <div id="twit_count">
        <label id="input_string">0</label>
        <label>/ 50</label>
        <label>닉네임</label>
        <input type="text" id="twit_name"/>
        <label>비밀번호</label>
        <input type="password" id="twit_password"/>
    </div>
      <div id="twit_form">
	<input type="text" id="twit_input" name="twit_input" maxlength="50"/>
	<button type="submit" id="twit_submit" name="twit_submit">게시</button>
      </div>
      <div id="twit_tag">
	<p>상품평의 태그를 지정해 주세요</p>
	<button type="submit" id="tag_close">X</button>
	<button type="submit" id="tag_submit" name="tag_submit">등록하기</button>
	<div>
	  <input class="twit_filter" type="radio" id="tag1" name="twit_tag" value="8"/><label for="tag1">배터리</label>
	  <input class="twit_filter" type="radio" id="tag2" name="twit_tag" value="1"/><label for="tag2">디스플레이</label>
	  <input class="twit_filter" type="radio" id="tag3" name="twit_tag" value="10"/><label for="tag3">해상도</label>
	  <input class="twit_filter" type="radio" id="tag4" name="twit_tag" value="3"/><label for="tag4">카메라</label>
	  <input class="twit_filter" type="radio" id="tag5" name="twit_tag" value="5"/><label for="tag5">자체 성능</label>
	  <input class="twit_filter" type="radio" id="tag6" name="twit_tag" value="4"/><label for="tag6">휴대성</label>
	  <input class="twit_filter" type="radio" id="tag7" name="twit_tag" value="9"/><label for="tag7">가격</label>
	  <input class="twit_filter" type="radio" id="tag8" name="twit_tag" value="2"/><label for="tag8">디자인</label>
	  <input class="twit_filter" type="radio" id="tag9" name="twit_tag" value="7"/><label for="tag9">그립감</label>
	  <input class="twit_filter" type="radio" id="tag10" name="twit_tag" value="6"/><label for="tag10">내구성</label>
	  <input class="twit_filter" type="radio" id="tag0" name="twit_tag" value="0"/><label for="tag0">기타</label>
	</div>
      </div>
    <div id="twit_delete_form">
        <label>비밀번호</label>
        <input type="password" id="del_password"/>
        <button id="twit_update_submit">삭제</button>
    </div>
    <div id="twit_edit_form">
        <label>내용</label>
        <input type="text" id="edit_content"/>
        <label>비밀번호</label>
        <input type="password" id="edit_password"/>
        <button id="twit_edit_submit">수정</button>
    </div>
    </div>
    <input type="hidden" id="product_number" value="{{ product_detail.product.id }}"/>
    {% endblock %}
  </div>
</div>
