{% extends "tests/layout.html" %}
{% load static %}

{% block title %} ReviewGem {% endblock %}
{% block js_import %}/static/js/index.js{% endblock %}

{% block content %}
  <div id="category">
    <div class="main_category">
      <div class="title">
	<h2 class="tab_title">Mobile</h2>
	<ul>
	  {% for category in phone_categories %}
	  <li class="tab_title"><a href="/category/{{ category.id }}">{{ category.category_name2 }}</a></li>
	  {% endfor %}
	</ul>
      </div>
    </div>
    <div id="cate_wrapper">
      <div id="cate_prev" class="mv_cate">
	<span><<</span>
      </div>
      <div id="cate_next" class="mv_cate">
	<span>>></span>
      </div>
      <div id="product_wrapper">
	{% for product in phone_products %}
	<div class="detail">
	  <div class="product">
	    <a href="/detail/{{ product.id}}"><img src="{{ product.image_url }}"/></a>
	  </div>
	  <a href="/detail/{{ product.id }}" class="product_name">{{ product.name }}</a>
	</div>
	{% endfor %}
      </div>
    </div>
  </div>
  <div class="main_content">
    <h3 class="content_title">제품 정보</h3>
    <div class="image_review">
      <div class="review_pic"><a href="/detail/{{ random_product.product.id }}"><img src="{{ random_product.product.image_url }}"/></a></div>
      <a class="product_link" href="/detail/{{ random_product.product.id }}">{{ random_product.product }}</a>
    </div>
    <div class="main_procon">
      <div class="main_pros">
	<div class="divider"></div>
	<p class="procon_title">만족합니다</p>
	{% for pros in random_product.pros.0 %}
	<p>{{ pros }}</p>
	{% endfor %}
      </div>
      <div class="main_cons">
	<div class="divider"></div>
	<p class="procon_title">아쉽습니다</p>
	{% for cons in random_product.cons.0 %}
	<p>{{ cons }}</p>
	{% endfor %}
      </div>
    </div>
    <div id="main_chart">
      <table id="chart_data" style="visibility:hidden;">
	<tr id="chart_category">
	  {% for chart in chart_data %}
	  <td>{{ chart.key }}</td>
	  {% endfor %}
	</tr>
	<tr id="chart_positive">
	  {% for chart in chart_data %}
	  <td>{{ chart.positive }}</td>
	  {% endfor %}
	</tr>
	<tr id="chart_negative">
	  {% for chart in chart_data %}
	  <td>{{ chart.negative }}</td>
	  {% endfor %}
	</tr>
	<tr id="chart_value">
	  {% for chart in chart_data %}
	  <td>{{ chart.value }}</td>
	  {% endfor %}
	</tr>
      </table>
    </div>
  </div>
  <div class="main_content">
    <h3 class="content_title">휴대폰 리뷰</h3>
    {% for review in image_review %}
    <div class="image_review">
      <div class="review_pic"><a href="/detail/{{ review.product_id }}"><img src="/static/img/{{ review.thumb }}" title="{{ review.title }}"/></a></div>
      <a class="review_link" href="/detail/{{ review.product_id }}" title="{{ review.title }}">{{ review.title }}</a>
    </div>
    {% endfor %}
    <div class="normal_review">
      {% for review in normal_review %}
      <a href="/detail/{{ review.product_id }}" title="{{ review.title }}">{{ review.title | truncatechars:45 }}</a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
