<!DOCTYPE html>
{% load static %}
<!--    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" async src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" async src="{% static 'js/common.js' %}"></script>-->
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script>
/*
      // load reviewgem.css

      var cb = function() {
        var l = document.createElement('link'); l.rel = 'stylesheet';
        l.href = '/static/css/reviewgem.css';
        var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(cb);
      else window.addEventListener('load', cb); */

      // load reviewgem.css
      var stylesheet = document.createElement('link');
      stylesheet.href = '/static/css/reviewgem.css';
      stylesheet.rel = 'stylesheet';
      stylesheet.type = 'text/css';
      document.getElementsByTagName('head')[0].appendChild(stylesheet);

      // load Google Analytics
      
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51089995-1', 'reviewgem.co.kr');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');

      // load JS


      var path = '/static/js/';
      var jspath = '{% block js_import %} {% endblock %}';
      function loadScript(src, callback)
      {
      var s, r, t;
      r = false;
      s = document.createElement('script');
      s.type = 'text/javascript';
      s.src = src;
      s.onload = s.onreadystatechange = function() {
      if ( !r && (!this.readyState || this.readyState == 'complete') )
      {
      r = true;
      callback();
      }
      };
      t = document.getElementsByTagName('script')[0];
      t.parentNode.insertBefore(s, t);
      }
      loadScript('//code.jquery.com/jquery-1.11.0.min.js', function(){ 
      loadScript('//code.highcharts.com/highcharts.js', function(){ 
      loadScript(path + 'chart.js', function(){ 
      loadScript(jspath, function(){
      });
      });  
      });  
      });

    </script>
  </head>
  <title>{% block title %} {% endblock %}</title>
  
  <div id="nav">
    <div class="wrapper">
      <div id="header-left">
	<div id="logo">
          <h1 id="title"><a href="/">ReviewGem</a></h1>
	</div>
      </div>
      <div id="header-content">
        <form method="get" action="{% url 'search' %}">
          <div id="search">
            <input type="text" id="search_box" name="query" placeholder="검색"/>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="message">
    {% block message_popup %} {% endblock %}
  </div>

  <div id="content">
    <div class="wrapper">
      {% block content %} {% endblock %}
    </div>
  </div>
  <!--
      <div id="error_report">
	<div id="dialog" title="보고">
          <div id="error_select">
            <select>
              <option>test1</option>
            </select>
          </div>
          <div id="error_text_wrapper">
            <textarea id="error_text"></textarea>
          </div>
          <button id="error_submit">submit</button>
        </div>
      </div>
      -->
  <div id="footer">
    <div class="wrapper">
      <address>Copyright © 2014 <a class="active" href="http://www.reviewgem.co.kr/" title="ReviewGem">ReviewGem</a>  by SoftwareMaestro 4th. All rights reserved.</address>
    </div>
  </div>
</html>
