{% extends 'tests/layout.html' %}
{% load static %}

{% block title %}ReviewGem-login{% endblock %}

{% block message_popup %}
{% if messages %}
<div class="messages">
    {% for message in messages %}
        <p {% if message.tags %} class="{{ messages.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
{% endblock %}

{% block content %}
<h2>로그인 / 회원가입</h2>
<div id="login" class="login">
  <div class="login_wrapper">
    <h3 class="login_title">로그인</h3>
    <p>로그인 후 ReviewGem을 이용하세요!</p>
    <form method="post" action="">{% csrf_token %}
      <label for="user_id">아이디</label>
      <input type="text" id="user_id" class="text_input" name="user_id"/>
      <label for="user_password">비밀번호</label>
      <input type="password" id="user_password" class="text_input" name="user_password"/>
  </div>
  <div class="login_option">
    <input type="checkbox" id="check_login" name="check_login"/><label for="check_login">로그인 상태 유지하기</label>
    <button type="submit" id="login_button" name="login_submit">로그인</button>
  </div>
</form>
</div>
<div id="no_account" class="login">
  <div class="login_wrapper">
    <h3 class="login_title">회원 가입</h3>
    <p>다음 계정으로 로그인하기 : </p>
        <a href="https://graph.facebook.com/oauth/authorize?client_id=774593815898450&redirect_uri=http%3A%2F%2Freviewgem.co.kr%2Flogin&scope=publish_stream,email&display=popup">
            <img src="http://developers.facebook.com/images/devsite/login-button.png"/>
        </a>
  </div>
  <div class="login_option">
    <p><a href="/account">ReviewGem에 가입하기.</a></p>
    <button type="submit" id="account_button" name="account_submit">회원가입</button>
  </div>
</div>

{% endblock %}
