{% load static %}
<!--<link rel="stylesheet" href="{% static 'css/detail.css' %}">-->
<!--<script src="{% static 'js/review_list.js' %}"></script>-->

<!--<div id="reviews">-->
    {% for review in product_review %}
    <div class="review">
        <div class="review_pic">
            <img src="{{ review.images.0 }}">
        </div>
	<div class="product_review_detail">
          <p class="review_title"><a href="{{ review.source_url }}">{{ review.title }}</a></p>
          <p class="review_date">{{ review.create_time }}</p>
          <pre class="review_content">{{ review.content }}</pre>
          <div class="review_like">
            <div class="like_pic">
              <img onclick="likeButton(event)" value="{{ review.review_id }}"/>
            </div>
            <span>좋아요</span>
            <span id="review_like_number" value="{{ review.review_id }}">{{ review.like }}</span>
          </div>
          <button><a href="{{ review.source_url }}">블로그 보기</a></button>
	</div>
    </div>
    {% endfor %}

    <input type="hidden" pagination="{{ product_review.paginator.num_pages }}"/>
<!--</div>-->

<div id="review_page">
    <span class="step-links">
        {% if product_review.has_previous %}
            <a id="prev_page" value="{{ product_review.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            page {{ product_review.number }} of {{ product_review.paginator.num_pages }}
        </span>

        {% if product_review.has_next %}
            <a id="next_page" value="{{ product_review.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
