{% extends 'tests/layout.html' %}
{% load static %}

{% block title %}ReviewGem-Search{% endblock %}
{% block js_import %}/static/js/search.js{% endblock %}

{% block content %}
    <div class="title" style="border-bottom:3px solid #7abd30;">
        <h2 class="tab_title"><span class="search_query">{{ query }}</span>의 검색결과</h2>
    </div>
    <input type="hidden" id="query" value="{{query}}"/>
    {% if not data %}
    <div style="margin: 30px auto">
        <h2>검색 결과가 없습니다.</h2>
    </div>
    {% endif %}
    {% for review_result in data %}
    <div class="review">
        {% if review_result.images.0  %}
        <div class="review_pic">
            <img src="/static/img/{{ review_result.images.0 }}">
        </div>
        {% endif %}
        <div class="product_review_detail">
            <a class="review_title" href="{{ review_result.url }}" target="blank" title="{{ review_result.title }}">{{ review_result.title | truncatechars:90 }}</a>
            <div>
                <p class="review_date" style="float:right">{{ review_result.creation_time }}</p>
            </div>
            <p class="review_content">
                {% for sentence in review_result.sentences %}
                    {{ sentence }}
                {% endfor %}
            </p>
        </div>
    </div>
    {% endfor %}
{% endblock %}
