{% load static %}

{% for twit in twit_list %}
<div class="twit">
  <p class="twit_username">{{ twit.username }}</p>
  <br>
  <p class="twit_content">{{ twit.content }}</p>
  <br>
  <button id="twit_delete" value="{{twit.id}}" onclick="updateTwitData(event)">삭제</button>
  <button id="twit_edit" value="{{twit.id}}" onclick="updateTwitData(event)">수정</button>
  <p class="twit_tag">[{{ twit.twit_filter }}]</p>
  <p class="twit_date">{{ twit.create_time }}</p>
  <div id="twit_like">
    <p class="twit_like_btn" onclick="likeButton(event)" value="{{twit.id}}">좋아요</p>
    <span>·</span>
    <p class="twit_like_count">{{ twit.like }}</p>
  </div>
</div>
{% endfor %}
