body{
    margin : 0 auto;
}

h1{
    margin : 0;
    padding:5px;
    font-size: 18px;
    display : inline;
    float : left;
}

h2{
    margin : 0;
    padding : 10px;
    font-size : 18px;
    font-weight : bold;
    float : left;
    color : #ffffff;
}

h3{
    margin : 0;
    padding : 10px;
    font-size : 18px;
    font-weight : bold;
    float : left;
}

ul{
    padding-left : 30px;
}

li{
    text-align : left;
    padding : 2px;
}

hr{
    display : block;
}

#nav{
    width: 100%;
    height: 30px;
    background-color: #ffffff;
    border-bottom: 2px solid #888888;
    position:fixed;
}

#nav_wrapper{
    margin : 0 auto;
    width : 1000px;
}

#branch{
    text-align : left;
    padding : 10px;
    padding-left : 30px;
    font-size : 12px;
}

#category h3{
    width : 80px;
    text-align : left;
}

#search{
    float : right;
}

#search_box{
    margin : 4px;
    width : 150px;
    height : 15px;
    border : 3px solid #888888;
    float : left;
}

#user_account{
    height : 100%;
    padding: 9px;
    font-size : 12px;
    float : right;
}

#content{
    margin : 0 auto;
    width : 1000px;
    padding-top : 30px;
    text-align: center;
}

#category{
    width:100%;
}

#category_phone .title{
    background-color : #aaaaaa;
}

#category_camera{
    background-color : #ddcccc;
}

#category_camera .title{
    background-color : #bbaaaa;
}

#category_laptop{
    background-color : #ccddcc;
}

#category_laptop .title{
    background-color : #aabbaa;
}

#reviews{
    height : 400px;
}

#reviews .title{
    height : 40px;
}

.main_category{
    width : 144px;
    background-color : #cccccc;
    float : left;
    border : 3px solid #888888;
}
#category_detail{
    height : 100px;
    margin-top : 45px;
    border : 3px solid #888888;
}

#search_result{
    margin-top : 45px;
    background-color : #cccccc;
    border : 3px solid #888888;
}

.search_product{
    height : 300px;
    margin : 10px;
    background-color : #ffffff;
}

.product{
    float : left;
    width : 200px;
    height : 100%;
}

.product img{
    width : 100%;
    height : 100%;
}

.product_image{
    margin : 0 auto;
    margin-top : 10%;
    height : 80%;
    width : 80%;
    border : 1px solid #888888;
}

.product_procon{
    margin : 10px;
    width : 200px;
    float : left;
    background-color : #eeeeee;
    border : 3px solid #888888;
}

.procon p{
    padding-left : 10px;
    font-size : 12px;
}

.procon_title{
    width : 100%;
    padding-top : 10px;
    padding-bottom : 10px;
    text-align : center;
    border-top : 1px solid #888888;
    border-bottom : 1px solid #888888;
    font-size : 14px;
}

.product_detail{
    float : left;
    height : 100%;
    width : 543px;
}

.product_review{
    height : 25%;
}

.product_review p{
    margin : 0;
}

.review_title{
    float : left;
    padding-top : 5px;
    padding-left : 5px;
    font-size : 14px;
    color : blue;
    text-decoration : underline;
}

.review_date{
    float : right;
    padding-top : 5px;
    padding-right : 5px;
    font-size : 14px;
}

.review_content{
    padding-top : 30px;
    padding-left : 5px;
    font-size : 12px;
    text-align : left;
}


.main_review{
    width : 327px;
    height : 400px;
    float : left;
    border : 3px solid #888888;
}

.review{
    height : 29%;
    border : 1px solid #888888;
}

.review_pic{
    width : 30%;
    height : 90%;
    margin : 5px;
    border : 1px solid #888888;
    float : left;
}

#footer{
    height : 40px;
}