body{
    margin : 0 auto;
}

h1{
    margin : 0;
    padding:5px;
    font-size: 18px;
    display : inline;
    float : left;
}

h2{
    margin : 0;
    padding : 20px;
    font-size : 20px;
    float : left;
}

h3{
    margin : 0;
    padding : 10px;
}

#nav{
    width: 100%;
    height: 30px;
    background-color: #ffffff;
    border-bottom: 2px solid #888888;
    z-index : 2;
    position:fixed;
}

#nav_wrapper{
    margin : 0 auto;
    width : 1000px;
}

#search{
    float : right;
}

#search_box{
    margin : 4px;
    width : 150px;
    height : 15px;
    border : 3px solid #888888;
    float : left;
}

#user_account{
    height : 100%;
    padding: 9px;
    font-size : 12px;
    float : right;
}

#left{
    position : fixed;
    height : 100%;
    width : 150px;
    float : left;
    z-index : 1;
    border-right : 3px solid #888888;
    background-color : #eeeeee;
}

#left ul{
    margin-top : 0;
    padding-left : 0;
}

#left li{
    list-style-type : none;
    padding : 10px;
    border-bottom : 3px solid #888888;
}

#filter{
    margin : 0 auto;
    margin-top : 100px;
    width : 130px;
    height : 300px;
    border : 1px solid black;
    background-color : #ffffff;
}

.filter_wrapper{
    margin : 10px;
}


#content{
    margin : 0 auto;
    width : 1000px;
    padding-top : 30px;
}

#branch{
    margin-left : 200px;
    padding : 10px;
    padding-left : 30px;
    font-size : 12px;
}

#product{
    margin-left : 200px;
    width : 800px;
    height : 400px;
}

#product_title{
    width : 100%;
    height : 65px;
}

#product_like{
    width : 100px;
    height : 25px;
    padding : 20px;
    float : right;
    text-align : center;
}

#product_pic{
    width : 150px;
    height : 250px;
    float : left;
    margin-left : 50px;
    border : 3px solid #888888;
}

#product_pic img{
    width : 100%;
    height : 100%;
}

#product_procon{
    width : 500px;
    height : 200px;
    float : right;
    margin-top : 25px;
    margin-right : 25px;
    border : 3px solid #888888;
}

.procon{
    width : 249px;
    height : 100%;
    float : left;
    border-right : 1px solid #888888;
}

.procon p{
    padding-left : 10px;
}

.procon_title{
    width : 100%;
    padding-top : 10px;
    padding-bottom : 10px;
    text-align : center;
    border-bottom : 1px solid #888888;
}

#review .review_add{
    margin : 10px auto;
}


#like_pic{
    width : 20%;
    height : 20px;
    float : left;
    border : 1px solid #888888;
}

#product_like span{
    font-size : 14px;
}

#reviews{
    margin : 10px auto;
    width : 750px;
    height : 80%;
}

.review{
    width : 100%;
    height : 20%;
    border-top : 1px solid #999999;
    border-bottom : 1px solid #999999;
}

.review_pic{
    margin : 12px;
    height : 80%;
    width : 15%;
    border : 1px solid #999999;
    float : left;
}

.review_detail{
    margin : 12px;
    height : 80%;
    width : 60%;
    float : left;
}

.review_title{
    height : 20%;
    margin : 0;
    color : blue;n
}

.review_content{
    height : 70%;
    margin : 0;
    font-size : 14px;
}

.review_date{
    height : 10%;
    margin : 0;
}

.review_option{
    margin : 12px;
    height : 80%;
    width : 15%;
    float : left;
}

.review_like{
    width : 100px;
    height : 25px;
    float : right;
    text-align : center;
}

#review_page{
    margin : 40px;
    text-align : center;
}

#review_page p{
    padding : 10px;
    display : inline;
}

.like_pic{
    width : 20%;
    height : 20px;
    float : left;
    border : 1px solid #888888;
}

.review_blog{
    margin-top : 50px;
    float : right;
    width : 80%;
    height : 30px;
    background-color : #eeeeee;
    border : 2px solid #888888;
}

.review_blog p{
    text-align : center;
    margin : 0;
    padding : 7px;
    font-size : 12px;
}

#review{
    margin-left : 200px;
    width : 800px;
    height : 800px;
}

#twit{
    margin-left : 200px;
    width : 800px;
}

#twits{
    margin : 10px auto;
    width : 750px;
    height : 400px;
    border : 3px solid #eeeeee;
    overflow-y : scroll;
}

.twit p{
    margin : 0;
}

.twit{
    width : 100%;
    height : 20%;
    border-bottom : 1px solid #999999;
}

.twit_username{
    padding : 5px;
    padding-left : 15px;
}

.twit_content{
    padding : 5px;
    padding-left : 10px;
}

.twit_date{
    float : right;
    width : 150px;
    text-align : right;
    padding-right : 10px;
}

#twit_input{
    float : left;
    margin : 0;
    padding : 2px;
    width : 680px;
    height : 50px;
}

#twit_submit{
    float : left;
    margin : 0;
    width : 60px;
    height : 56px;
    padding : 2px;
}

.title{
    margin : 0 auto;
    width : 800px;
    height : 40px;
    background-color : #eeeeee;
    border : 2px solid #888888;
}

#twit_form{
    margin : 10px auto;
    width : 750px;
    height : 100px;
}

#footer{
    padding-left : 150px;
    width : 800px;
}