body{
    margin : 0 auto;
}

h1{
    margin : 0;
    padding:5px;
    font-size: 18px;
    display : inline;
    float : left;
}

h2{
    margin : 0;
    padding : 10px;
    font-size : 18px;
    font-weight : bold;
    float : left;
    color : #ffffff;
}

h3{
    margin : 0;
    padding : 10px;
    font-size : 18px;
    font-weight : bold;
    float : left;
}

p{
    font-size : 14px;
}

ul{
    padding-left : 30px;
}

li{
    text-align : left;
    padding : 2px;
}

hr{
    display : block;
}

#nav{
    width: 100%;
    height: 30px;
    background-color: #ffffff;
    border-bottom: 2px solid #888888;
    position:fixed;
}

#nav_wrapper{
    margin : 0 auto;
    width : 1000px;
}

#category h3{
    text-align : left;
}

#search{
    float : right;
}

#search_box{
    margin : 4px;
    width : 150px;
    height : 15px;
    border : 3px solid #888888;
    float : left;
}

#user_account{
    height : 100%;
    padding: 9px;
    font-size : 12px;
    float : right;
}

#content{
    margin : 0 auto;
    width : 1000px;
    padding-top : 30px;
    text-align: center;
}

#category{
    margin-top : 10px;
    width:100%;
}

#category_phone .title{
    background-color : #aaaaaa;
}

#category_camera{
    background-color : #ddcccc;
}

#category_camera .title{
    background-color : #bbaaaa;
}

#category_laptop{
    background-color : #ccddcc;
}

#category_laptop .title{
    background-color : #aabbaa;
}

.title{
    width : 100%;
    height : 50px;
    border-bottom : 3px solid #888888;
}

.cate_title{
    height : 50px;
}

#reviews{
    height : 400px;
}

#reviews .title{
    height : 40px;
}

.main_category{
    width : 169px;
    height : 400px;
    background-color : #cccccc;
    float : left;
    border : 3px solid #888888;
}
.category_detail{
    width : 644px;
    height : 400px;
    float : left;
    border : 3px solid #888888;
    display : none;
}

.detail{
    width : 25%;
    height : 50%;
    float : left;
}

.product{
    margin : 0 auto;
    margin-top : 10px;
    width : 70%;
    height : 70%;
}

.product img{
    width : 100%;
    height : 100%;
}

.main_review{
    width : 494px;
    height : 400px;
    float : left;
    border : 3px solid #888888;
}

.review{
    height : 29%;
    border : 1px solid #888888;
}

.review_pic{
    width : 20%;
    height : 90%;
    margin : 5px;
    margin-right : 20px;
    border : 1px solid #888888;
    float : left;
}

.review_pic img{
    width : 100%;
    height : 100%;
}

.review p{
    margin : 0;
    padding : 10px;
    text-align : left;
}

#footer{
    height : 40px;
}