body{
    margin : 0 auto;
}

h1{
    margin : 0;
    padding:5px;
    font-size: 18px;
    display : inline;
    float : left;
}

h2{
    margin : 0;
    padding : 10px;
    font-size : 18px;
    font-weight : bold;
    float : left;
    color : #ffffff;
}

h3{
    margin : 0;
    padding : 10px;
    font-size : 18px;
    font-weight : bold;
    float : left;
}

p{
    font-size : 14px;
}

ul{
    padding-left : 30px;
}

li{
    text-align : left;
    padding : 2px;
}

hr{
    display : block;
}

#nav{
    width: 100%;
    height: 30px;
    background-color: #ffffff;
    border-bottom: 2px solid #888888;
    position:fixed;
}

#nav_wrapper{
    margin : 0 auto;
    width : 1000px;
}

#category h3{
    text-align : left;
}

#search{
    float : right;
}

#search_box{
    margin : 4px;
    width : 150px;
    height : 20px;
    border : 3px solid #888888;
    float : left;
}

#user_account{
    height : 100%;
    padding: 9px;
    font-size : 12px;
    float : right;
}

#content{
    margin : 0 auto;
    width : 1000px;
    padding-top : 30px;
    text-align: center;
}

#category{
    margin-top : 10px;
    width:100%;
}

#category_phone .title{
    background-color : #aaaaaa;
}

#category_camera{
    background-color : #ddcccc;
}

#category_camera .title{
    background-color : #bbaaaa;
}

#category_laptop{
    background-color : #ccddcc;
}

#category_laptop .title{
    background-color : #aabbaa;
}

.title{
    width : 100%;
    height : 50px;
    border-bottom : 3px solid #888888;
}

.cate_title{
    height : 50px;
}

#reviews{
    height : 400px;
}

#reviews .title{
    height : 40px;
}

.main_category{
    width : 144px;
    height : 400px;
    background-color : #cccccc;
    float : left;
    border : 3px solid #888888;
}
.category_detail{
    width : 544px;
    height : 400px;
    float : left;
    border : 3px solid #888888;
    display : none;
}

.detail{
    width : 25%;
    height : 50%;
    float : left;
}

.product{
    margin : 0 auto;
    margin-top : 10px;
    width : 70%;
    height : 70%;
}

.product img{
    width : 100%;
    height : 100%;
}

.main_review{
    width : 327px;
    height : 400px;
    float : left;
    border : 3px solid #888888;
}

.review{
    height : 29%;
    border : 1px solid #888888;
}

.review_pic{
    width : 30%;
    height : 90%;
    margin : 5px;
    margin-right : 20px;
    border : 1px solid #888888;
    float : left;
}

.review_pic img{
    width : 100%;
    height : 100%;
}

.review p{
    margin : 0;
    padding : 10px;
    text-align : left;
}

#footer{
    height : 40px;
}

#login_box{
    position : absolute;
    left : 50%;
    top : 50%;
    margin-top : -125px;
    margin-left : -300px;
    width : 600px;
    height : 250px;
    border : 3px solid #888888;
}

#login{
    float : left;
    width : 60%;
    height : 100%;
    margin-right : -3px;
    border-right : 3px solid #888888;
}

#login h2{
    padding : 20px;
    width : 100%;
    text-align : left;
    color : red;
}

#login_wrapper{
    margin-top : 80px;
    width : 100%;
    height : 80px;
    text-align : left;
}

#login_option{
    margin-top : 15px;
    margin-left : 30px;
    margin-right : 30px;
}

#login_option input{
    margin : 5px;
    width : 14px;
    height : 14px;
    float : left;
}

#login_option p{
    margin : 0;
    padding : 5px;
    float : left;
}

#login_option #check_id{
    margin-left : 50px;
}

#login .text_input{
    width : 80%;
    height : 30px;
    margin : 5px;
    margin-left : 30px;
}

#login_button{
    float : right;
    margin : 3px;
    margin-right : 10px;
    width : 30%;
    height : 20px;
}


#login_no_account{
    float : left;
    width : 40%;
    height : 100%;
}

#login_no_account p{
    text-align : left;
    margin-top : 30px;
    margin-left : 20px;
}

#login_no_account a{
    color : blue;
    text-decoration : underline;
}

#account_box{
    margin : 0 auto;
    margin-top : 50px;
    width : 800px;
    height : 500px;
    border : 3px solid #888888;
}

#account_box h2{
    width : 100%;
    padding : 20px;
    font-size : 25px;
    color : red;
}

#account_input{
    margin-top : 100px;
}

.input_wrapper{
    text-align : left;
}


.input_wrapper b{
    margin : 0;
    padding : 10px;
    padding-right : 20px;
    float : left;
    width : 150px;
    text-align : right;
    font-size : 14px;
}

.input_wrapper input{
    margin : 5px;
    padding : 5px;
    width : 200px;
}