*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family: "나눔고딕", NanumGothic, Malgun Gothic, Roboto, arial, serif, "돋움", Dotum, AppleGothic, sans-serif !important;
}

body{
    color : #838383;
    font-size : 13px;
}

h1{
    font-size : 36px;
}

h2{
    font-weight : 400;
    font-size : 20px;
    padding : 0 8px 10px 8px;
    text-transform : uppercase;
    letter-spacing : 1px;
}

a{
    cursor : pointer;
    color : #4c4c4c;
    text-decoration : none;
}

a:hover{
    color : #7abd30;
    text-decoration : none;
}


#nav{
    background-color : #ffffff;
    border-top : 3px solid #7abd30;
    min-height : 120px;
}

#search input{
    background : none repeat scroll 0 0 #f3f3f3;
    height : 20px;
    line-height : 20px;
    width : 200px;
    border : 1px solid #e9e9e9;
    border-radius : 3px 3px 3px 3px;
    font-size : 90%;
    color : #7e7e7e;
    padding : 4px 7px;
}

.wrapper{
    margin : auto;
    max-width : 1170px;
}

#header-left{
    width : 25%;
    padding : 0 15px 0 15px;
    float : left;
}

#logo{
    outline : medium none;
    padding : 22px 0 50px 0;
}

#content{
    min-height : 700px;
}

#header-content{
    width : 75%;
    padding : 0 15px 0 15px;
    float : left;
}


#user_account{
    float : right;
    padding : 44px 7px 56px 7px;
}

#search{
    float : right;
    padding : 44px 7px 56px 7px;
}

#footer{
    background-color : #f2f2f2;
}

#footer .wrapper{
    padding : 20px 15px 20px 15px;

}

address{
    display : block;
    font-weight : normal;
    line-height : 1.428571429;
}

.footer address{
    clear : both;
    font-size : 100%;
    text-align : left;
    color : #787878;
}

#category{
    width : 100%;
    min-height : 540px;
    clear : both;
}

#reviews{
    min-height : 650px;
}

.main_category{
    width : 20%;
    float : left;
}

.title{
    min-height : 36px;
}

.tab_title{
    text-align : left;
    font-weight : 400;
    font-size : 20px;
    padding : 0 8px 10px 8px;
    border-bottom : 3px solid #ffffff;
    text-transform : uppercase;
    letter-spacing : 2px;
}


.cate_title{
    padding : 30px 8px 10px 8px;
    font-size : 18px;
    text-align : left;
    line-height : 25px;
    text-transform : uppercase;
    font-weight : 700;
    color : #4c4c4c;
    letter-spacing : 1px;
}


.cate_list li{
    list-style-type : square;
    padding : 8px 0 8px 0;
    margin-left : 30px;
    line-height : 20px;
}

.cate_list li a{
    font-size : 14px;
    font-weight : normal;
    color : #787878;
}

.cate_list li a:hover{
    color : #7abd30;
}

.category_detail{
    width : 60%;
    max-height : 100%;
    float : left;
    position : relative;
}

.cate_wrapper{
    height : 480px;
    border : 2px solid #e5e5e5;
}

.detail{
    width : 155px;
    height : 220px;
    margin : 10px;
    float : left;
    border : 3px solid #ffffff;
    text-transform : uppercase;
}

.detail:hover{
    background-color : #e5e5e5;
    border : 3px solid #e5e5e5;
}

.product_name{
    text-align : center;
    line-height : 43px;
    border-left : 1px solid #e5e5e5;
    border-right : 1px solid #e5e5e5;
    border-bottom : 1px solid #e5e5e5;
    display : block;
}

.product{
    position : relative;
    width : 100%;
    height : 170px;
    border : 1px solid #e5e5e5;
}

.detail img {
    margin : 5%;
    width : 90%;
    height : 90%;
}

#review{
    width : 100%;
    min-height : 170px;
    clear : both;
}

#procon_tab{
    margin-left : 10px;
    margin-right : 10px;
    height : 34px;
    border-bottom : 1px solid #f2f2f2;
}

.procon_state{
    float : left;
    font-size : 17px;
    cursor : pointer;
}

#pagenator{
    margin : 20px;
    text-align : center;
}

.pagenation, .page_move{
    display : inline-block;
    color : #7e7e7e;
    height : 30px;
    line-height : 30px;
    width : 30px;
}

.page_move{
    background-color : #f2f2f2;
}

.pagenation:hover, .page_move:hover{
    background-color : #7abd30;
    color : #ffffff;
}

.main_review{
    width : 50%;
    min-height : 600px;
    float : left;
    padding : 20px;
}

.review{
    width : 100%;
    height : 170px;
    clear : both;
    border-bottom : 1px dotted #e5e5e5;
}

.review_pic{
    width : 120px;
    height : 150px;
    margin : 10px;
    float : left;
    border : 1px solid #e5e5e5;
    cursor : pointer;
}

.review_pic:hover{
    background-color : #e5e5e5;
}

.review_pic img{
    margin : 5%;
    width : 90%;
    height : 90%;
}

.review_detail{
    width : 350px;
    margin-left : 20px;
    float : left;
    border-bottom : 1px solid #7abd30;
}

.review_detail a{
    display : inline-block;
    padding : 8px 14px 8px 14px;
}

.review_detail h3{
    padding-top : 20px;
    border-bottom : 1px solid #e5e5e5;
}

.cate_title a{
    padding : 0;
}

/* for login page css */

.login{
    width : 48%;
}

.login_wrapper{
    height : 250px;
    padding : 15px;
    border : 1px solid #dedede;
    background : none repeat scroll 0 0 #f2f2f2;
}

#login{
    float : left;
}

#no_account{
    float : right;
}

.login_title{
    margin : 0 0 14px;
    padding : 0 0 5px 23px;
    border-bottom : 1px solid #dddddd;
    color : #a5965b;
    text-transform : uppercase;
}

.login_wrapper p{
    margin : 15px 8px 15px 8px;
}

.login_wrapper label{
    display : inline-block;
    margin-bottom : 5px;
}

.login_wrapper input{
    width : 100%;
    border : 1px solid #e5e5e5;
    box-shadow : 0 0 5px 0 #eaeaea inset;
    padding : 4px 10px;
    margin-bottom : 10px;
}

.login_option{
    background-color : #ececec;
    height : 50px;
    width : 100%;
}

.login_option input{
    margin : 17px;
    border : 1px solid #e5e5e5;
    box-shadow : 0 0 5px 0 #eaeaea inset;
}

.login_option label{
    display : inline-block;
}

button{
    cursor : pointer;
    margin : 10px;
    padding : 0 10px 0 10px;
    float : right;
    background-color : #c2c2c2;
    border-style : solid;
    color : #ffffff;
    height : 30px;
}

button:hover{
    background-color : #7abd30;
}

button a{
    color : #ffffff;
}

button a:hover{
    color : #ffffff;
}

.login_option p{
    display : inline-block;
    margin : 17px;
}

/* for account page css */

.info_title{
    margin : 20px 0 -10px 10px;
    padding : 5px;
    color : #ffffff;
    display : inline-block;
    background-color : #414141;
}

/* for category page css */

#category_filter{
    width : 100%;
}

#category_filter .title{
    float : left;
}

#filter{
    clear : both;
    width : 100%;
    height : 70px;
    border : 1px solid #f2f2f2;
}

#filter li{
    float : left;
    width : 200px;
}

#search_result{
    min-height : 1000px;
}

.search_product{
    min-height : 280px;
    margin : 20px;
}
.search_product h2{
    color : #2c2c2c;
    cursor : pointer;
    margin : 10px;
}

.product_image{
    width : 150px;
    height : 150px;
    border : 1px solid #e5e5e5;
    float : left;
    cursor : pointer;
}

.product_image:hover{
    background-color : #e5e5e5;
}

.product_image img{
    margin : 5%;
    width : 90%;
    height : 90%;
}

.product_detail{
    width : 100%;
    float : left;
    margin-top : 30px;
}

.product_image .cate_title{
    padding : 0;
    text-align : center;
    line-height : 50px;
}

.product_procon{
    width : 950px;
    margin-left : 30px;
    float : left;
}

.product_procon .procon{
    padding : 0;
}

.procon{
    margin : 0;
    padding : 20px;
    width : 100%;
    height : 75px;
    float : left;
}

.procon p{
    padding : 5px;
    margin-left : 10px;
}

.procon .procon_title{
    float : left;
    font-weight : bold;
    font-size : 16px;
    margin : 5px;
    padding : 5px;
    color : #4c4c4c;
    border-bottom : 1px solid #f2f2f2; 
}

.pros, .cons{
    width : 100%; 
    height : 45px; 
    margin-top : 40px;
}

.pros p, .cons p{
    float : left;
}

#product_chart{
    clear : both;
    width : 100%;
    height : 300px;
}

#pi_chart{
    float : left;
    height : 100%;
    width : 30%;
}

#bar_chart{
    float : left;
    height : 100%;
    width : 70%;
}


.product_reviews{
    width : 100%;
}

.product_review{
    width : 100%;
    height : 80px;
    padding-top : 10px;
    border-top : 1px dotted #e5e5e5;
}

.review_title{
    display : inline-block;
    border-bottom : 1px solid #4c4c4c;
    color : #4c4c4c;
    margin-bottom : 10px;
}

.review_title a{
    color : #222222;
}

.review_title a:hover{
    color : #7abd30;
}

.review_title:hover{
    border-bottom : 1px solid #7abd30;
}

.review_date{
    margin-left : 20px;
    display : inline-block;
    color : #cfcfcf;
    font-style : italic;
}

/* for test_account1 */

.info{
    width : 100%;
    height : 100%;
    padding : 10px;
    overflow : auto;
    border : none;
    white-space : pre-wrap;
    background-color : #ffffff;
}

/* for detail page */

#left{
    position : fixed;
    width : 200px;
    float : left;
}

#detail_content{
    margin-left : 220px;
    width : 950px;
}

#left ul{
    width : 200px;
    height : 200px;
    display : block;
    background-color : #7abd30;
    padding : 20px;
}

#left li{
    cursor : pointer;
    font-size : 18px;
    color : #ffffff;
    font-weight : 600;
    padding : 5px;
    border-bottom : 1px solid #ffffff;
    margin-top : 10px;
    margin-bottom : 10px;
    list-style-type : none;
}

#left_filter{
    width : 200px;
    display : block;
    padding-left : 20px;
}

#left_filter input{
    width : 12px;
    height : 12px;
}

#left_filter label{
    display : inline-block;
    margin-left : 10px;
    margin-top : 10px;
    width : 150px;
}

#left h3{
    margin-top : 20px;
    font-size : 18px;
    line-height : 35px;
    font-weight : bold;
    color : #383838;
}

.divider{
    width : 100%;
    height : 1px;
    margin : 0px 0 15px;
    background : none repeat scroll 0 0 #f4f4f4;
    clear : both;
}

.divider span{
    display : block;
    width : 15%;
    height : 3px;
    background-color : #7abd30;
}

#left .divider span, .procon .divider span{
    width : 70px;
}

#branch{
    clear : both;
    margin-left : 20px;
}

#detail_content h2{
    margin-top : 20px;
}

#product_title{
    width : 100%;
    line-height : 30px;
    margin-left : 20px;
}

#product_title h3{
    display : inline-block;
    color : #222222;
}

#product_like{
    width : 300px;
    float : right;
}

#product_data{
    width : 100%;
    height : 600px;
}

#product_pic{
    width : 300px;
    height : 300px;
    float : left;
}

#product_pic img{
    width : 80%;
    height : 80%;
    margin : 10%;
}

#product_procon{
    width : 600px;
    height : 200px;
    margin-top : 20px;
    float : right;
}

#product_procon .procon{
    width : 50%;
    height : 100%;
}


.product_review_detail{
    width : 100%;
    height : 100%;
    padding : 10px;
}

.product_review_detail .review_content{
    margin-left : 140px;
    line-height : 180%;
    height : 130px;
    overflow : hidden;
}

.attribute_good, .sentiment_good{
    border-radius : 3px;
    padding : 1px 3px;
    background-color : #c5d7ea;
    color : #4a5783;
    font-weight : bold;
} 

.attribute_bad, .sentiment_bad{
    border-radius : 3px;
    padding : 1px 3px;
    background-color : #fbdedf;
    color : #734143;
    font-weight : bold;
}

#review_content{
    min-height : 170px;
    max-height : 850px;
}

.review_like{
    float : left;
}

#review_page{
    width : 100%;
    line-height : 50px;
    text-align : center;
}

#twits{
    margin : 10px auto;
    width : 900px;
    height : 400px;
    border : 3px solid #eeeeee;
    overflow-y : scroll;
}

.twit button{
    margin : 0;
}

.twit{
    width : 100%;
    height : 20%;
    border-bottom : 1px dotted #f2f2f2;
    padding : 5px;
}

.twit_username{
    display : inline-block;
    margin-bottom : 10px;
    padding : 5px;
}

.twit_content{
    color : #2e2e2e;
    padding : 5px;
    display : inline-block;
}

.twit_content:before, .twit_content:after{
    color : #ddd;
    font-family : sans-serif;
    font-size : 20px;
}

.twit_content::before{
    content : "“";
}

.twit_content::after{
    content : "”";
}

.twit_tag{
    padding : 5px;
    display : inline-block;
}

.twit_date{
    position : relative;
    float : right;
    padding : 5px;
    color : #cfcfcf;
    font-style : italic;
}

#twit_like{
    float : left;
    padding : 5px;
}

#twit_like p{
    display : inline;
}

.twit_like_btn{
    cursor : pointer;
    color : #4a5783;
}

.twit_like_btn:hover{
    color : #c5d7ea;
}

#twit_input{
    float : left;
    margin : 0;
    padding : 2px;
    width : 800px;
    height : 50px;
}

#twit_submit{
    float : right;
    margin : 0;
    width : 80px;
    height : 50px;
    padding : 2px;
}

#twit_form{
    margin : 10px auto;
    width : 900px;
    height : 100px;
}

#twit_tag{
    position : absolute;
    margin : auto;
    width : 900px;
    height : 70px;
    padding : 10px;
    display : none;
    background-color : #f2f2f2;
}

#twit_tag p{
    color : #7abd30;
    font-weight : bold;
}

#twit_tag input{
    margin : 8px;
}

#twit_tag button{
    margin : 0;
}


#error_report{
    position:fixed;
    right: 3%;
    bottom: 0;
    margin : 0;
    padding: 0;
    width : 5%;
    height : 10%;
    background:url(http://thumbnail.image.rakuten.co.jp/@0_mall/doremi/cabinet/94000/4518891069779.jpg?_ex=50x50) no-repeat bottom right;
    background-size:100%;
}

#error_text_wrapper{
    height:70%;
}

#error_text{
    height:100%;
    width:100%;
}

#error_select_wrapper{
}

#message{
    position:fixed;
    right:3%;
    top:3%;
    margin:0;
    padding:0;
    width:10%;
    height:5%;
}

#messages{
    width:100%;
    height:100%;
    background-color:red;
}
