{% extends 'tests/base.html' %}
{% load static %}

<!--
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<script src="{% static 'js/jquery-1.9.0.js' %}"></script>
<div id="nav">
  <div id="nav_wrapper">
    <h1><a href="/">ReviewGem</a></h1>
    <div id="user_account">
      <span>로그인</span>
      <span>|</span>
      <span>회원가입</span>
    </div>
    <div id="search">
      <input type="text" id="search_box"/>
    </div>
  </div>
</div>
-->

{% block css_import %}/static/css/login.css{% endblock %}
{% block title %}ReviewGem-Account{% endblock %}

{% block content %}
  <div id="account_box">
    <h2>ReviewGem</h2>
    <div id="account_input">
      <form method="post" action="{% url 'account'%}">{% csrf_token %}
	<div class="input_wrapper">
	  <b>아이디 : </b><input type="text" id="user_id" name="user_id"/>
	</div>
	<div class="input_wrapper">
	  <b>닉네임 : </b><input type="text" id="nickname" name="user_nickname"/>
	</div>
	<div class="input_wrapper">
	  <b>패스워드 : </b><input type="password" id="password" name="user_password"/>
	</div>
	<div class="input_wrapper">
	  <b>패스워드 확인 : </b><input type="password" id="confirm" name="user_password_confirm"/>
	</div>
	<div class="input_wrapper">
	  <button type="submit" name="create_user_account">회원가입</button>
	</div>
      </form>
{% endblock %}
