<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% block css_import %} {% endblock %}">
        <link rel="stylesheet" href="{% static 'css/common.css' %}">
        <script src="{% static 'js/jquery-1.9.0.js' %}"></script>
        <script src="{% block js_import %} {% endblock %}"></script>
        <script src="http://www.google.com/jsapi"></script>
        <script src="{% static 'js/common.js' %}"></script>
    </head>
    <title>{% block title %} {% endblock %}</title>
    
    <div id="nav">
        <div id="nav_wrapper">
            <h1><a href="/">ReviewGem</a></h1>
            <div id="user_account">
                {% block user_info %} {% endblock %}
            </div>
            <div id="search">
                <input type="text" id="search_box"/>
            </div>
        </div>
    </div>

    <div id="content">
        {% block content %} {% endblock %}
    </div>

    <div id="footer" style="text-align:center;margin:0 auto;margin-top:20px;height:30px;border-top:2px solid #888888;padding:5px;">
        <img style="background-color:red;width:50px;height:20px;float:left;"></img>
        <a href="#">About</a>
        <a href="#">Company</a>
        <a href="#">Contact</a>
        <a href="#">Team</a>
        <a href="#">Help</a>
    </div>
</html>

