{% extends 'tests/base.html' %}
{% load static %}


<!--
<link rel="stylesheet" href="{% static 'css/category.css' %}">
<script src="{% static 'js/jquery-1.9.0.js' %}"></script>

<div id="nav">
  <div id="nav_wrapper">
    <h1><a href="/">ReviewGem</a></h1>
    <div id="user_account">
      <span>로그인</span>
      <span>|</span>
      <span>회원가입</span>
    </div>
    <div id="search">
      <input type="text" id="search_box"/>
    </div>
  </div>
</div>
-->

{% block title %}ReviewGem-Category{% endblock %}
{% block css_import %}/static/css/category.css{% endblock %}

{% block user_info %}
    {% if user.username %}
        <span>{{ user.username }}님 환영합니다.</span>
        <span>|</span>
        <span><a href="/logout">로그아웃</a></span>
    {% else %}
        <span><a href="/login">로그인</a></span>
        <span><a href="/account">회원가입</a></span>
    {% endif %}
{% endblock %}


{% block content %}
  <div id="category">
    <div id="category_phone" class="main_category">
      <div class="title">
	<h2>Digital/Mobile</h2>
      </div>
    </div>
    <div id="category_camera" class="main_category">
      <div class="title">
	<h2>Camera</h2>
      </div>
    </div>
  </div>
  <div id="search_result">
    {% for category_product in category_product_lists %}
    <div class="search_product">
      <div class="product">
	<div class="product_image">
	  <a href="/detail/{{ category_product.product.id }}"><img src="{{ category_product.product.image_url }}"/></a>
	</div>
	<a href="/detail/{{ category_product.product.id }}"><p>{{ category_product.produuct.name }}</p></a>
      </div>
      <div class="product_procon">
	<div class="procon">
	  <div class="procon_title"><span>장점 의견</span></div>
	  {% for pros in category_product.pros.0 %}
	  <p>{{ pros }}</p>
	  {% endfor %}
	</div>
	<div class="procon">
	  <div class="procon_title"><span>단점 의견</span></div>
	  {% for cons in category_product.cons.0 %}
	  <p>{{ cons }}</p>
	  {% endfor %}
	</div>
      </div>
      <div class="product_detail">
	{% for review_list in category_product.review %}
        {% for review in review_list %} 
	<div class="product_review">
	  <p class="review_title">{{ review.title }}</p>
	  <p class="review_date">{{ review.create_time }}</p>
	  <p class="review_content">{{ review.content }}</p>
	</div>
        {% endfor %}
	{% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
