{% extends 'tests/base.html' %}
{% load static %}

<!--
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
<script src="{% static 'js/jquery-1.9.0.js' %}"></script>
<script src="{% static 'js/detail.js' %}"></script>

<div id="nav">
  <div id="nav_wrapper">
    <h1><a href="/">ReviewGem</a></h1>
    <div id="user_account">
      <span>{{ user_test }}로그인</span>
      <span>|</span>
      <span>회원가입</span>
    </div>
    <div id="search">
      <input type="text" id="search_box"/>
    </div>
  </div>
</div>
-->

{% block css_import %}/static/css/detail.css{% endblock %}
{% block js_import %}/static/js/detail.js{% endblock %}
{% block title %}{{product_detail.product.name}}{% endblock %}

{% block user_info %}
    {% if user.username %}
        <span>{{ user.username }}님 환영합니다.</span>
        <span>|</span>
        <span><a href="/logout">로그아웃</a></span>
    {% else %}
        <span><a href="/login">로그인</a></span>
        <span><a href="/account">회원가입</a></span>
    {% endif %}
{% endblock %}


{% block content %}
  <div id="left">
    <ul>
      <li id="nav1">제품 정보 요약</li>
      <li id="nav2">사용자 리뷰</li>
      <li id="nav3">한 줄 상품평</li>
    </ul>
    <div id="filter">
    <div class="filter_wrapper">
	<input type="radio" id="option1" name="filter_item" value="1"/><label for="option1">배터리</label>
      </div>
      <div class="filter_wrapper">
	<input type="radio" id="option2" name="filter_item" value="2"/><label for="option2">디스플레이</label>
      </div>
      <div class="filter_wrapper">
	<input type="radio" id="option3" name="filter_item" value="3"/><label for="option3">해상도</label>
      </div>
      <div class="filter_wrapper">
	<input type="radio" id="option4" name="filter_item" value="4"/><label for="option4">카메라</label>
      </div>
      <div class="filter_wrapper">
	<input type="radio" id="option5" name="filter_item" value="5"/><label for="option5">자체 성능</label>
      </div>
      <div class="filter_wrapper">
	<input type="radio" id="option6" name="filter_item" value="6"/><label for="option6">휴대성</label>
      </div>
      <div class="filter_wrapper">
	<input type="radio" id="option7" name="filter_item" value="7"/><label for="option7">가격</label>
      </div>
      <div class="filter_wrapper">
	<input type="radio" id="option8" name="filter_item" value="8"/><label for="option8">디자인</label>
      </div>
      <div class="filter_wrapper">
	<input type="radio" id="option9" name="filter_item" value="9"/><label for="option9">그립감</label>
      </div>
      <div class="filter_wrapper">
	<input type="radio" id="option10" name="filter_item" value="10"/><label for="option10">내구성</label>
      </div>
    </div>
  </div>
  <div id="branch">
    <span>디지털/휴대폰</span>
    <span> > </span>
    <span>삼성전자</span>
    <span> > </span>
    <span>스마트폰</span>
    <span> > </span>
    <span>5인치</span>
    <span> > </span>
    <span>갤럭시 노트3</span>
  </div>
  <div id="product">
    <div class="title">
      <h3>제품 정보 요약</h3>
    </div>
    <div id="product_title">
      <h2>{{ product_detail.product.name }}</h2>
      <h2>{{ product_detail.product.product_model }}</h2>
      <div id="product_like">
	<div id="like_pic">
        <img onclick="likeButton(event)"/>
	</div>
	<span>좋아요</span>
	<span id="product_like_number">{{ product_detail.product.like }}</span>
      </div>
    </div>
    <div id="product_pic">
      <img src="{{ product_detail.product.image_url }}"/>
   </div>
    <div id="product_procon">
      <div class="procon">
	<div class="procon_title"><span>장점 의견</span></div>
	{% for pro_list in product_detail.pros %}
        {% for pro in pro_list %}
        	<p>{{ pro }}</p>
        {% endfor %}
	{% endfor %}
      </div>
      <div class="procon">
	<div class="procon_title"><span>단점 의견</span></div>
	{% for con_list in product_detail.cons %}
        {% for con in con_list %}
	        <p>{{ con }}</p>
        {% endfor %}
	{% endfor %}
      </div>
    </div>
  </div>

  <div id="review">
    <div class="title">
      <h3>사용자 리뷰</h3>
    </div>
    <div id="review_content">
    </div>
    <div class="review_page">
    </div>
  </div>
  <div id="twit">
    <div class="title">
      <h3>한 줄 상품평</h3>
    </div>
    <div id="twits">
      {% for twit in product_detail.twit %}
      <div class="twit">
	<p class="twit_username">{{ twit.username }}</p>
	<p class="twit_date">{{ twit.create_time }}</p>
	<p class="twit_content">{{ twit.content }}</p>
      </div>
      {% endfor %}
    </div>
    <div id="twit_form">
	<input type="text" id="twit_input" name="twit_input"/>
	<button type="submit" id="twit_submit" name="twit_submit">게시</button>
    </div>
  </div>
    <input type="hidden" id="product_number" value="{{ product_detail.product.id }}"/>
{% endblock %}
