{% extends "tests/base.html" %}
{% load static %}


<!--
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<script src="{% static 'js/jquery-1.9.0.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>

<div id="nav">
  <div id="nav_wrapper">
    <h1><a href="/">ReviewGem</a></h1>
    <div id="user_account">
      <span><a href="/logout">{{ phone_test.id }}</a></span>
      <span><a href="/login">로그인</a></span>
      <span>|</span>
      <span><a href="/account">회원가입</a></span>
    </div>
    <div id="search">
      <input type="text" id="search_box"/>
    </div>
  </div>
</div>
-->

{% block css_import %}/static/css/index.css{% endblock %}
{% block js_import %}/static/js/index.js{% endblock %}
{% block title %} ReviewGem {% endblock %}

{% block user_info %}
    {% if user.username %}
        <span>{{ user.username }}님 환영합니다.</span>
        <span>|</span>
        <span><a href="/logout">로그아웃</a></span>
    {% else %}
        <span><a href="/login">로그인</a></span>
        <span><a href="/account">회원가입</a></span>
    {% endif %}
{% endblock %}


{% block content %}
  <div id="category">
    <div id="category_phone" class="main_category">
      <div class="title">
	<h2>Digital/Mobile</h2>
      </div>
      <div class="cate_title">
	<h3>디지털/휴대폰</h3>
      </div>
      <ul>
	{% for category in phone_categories %}
	<li><a href="/category/{{ category.id }}">{{ category.category_name2 }}</a></li>
	{% endfor %}
      </ul>
    </div>
    <div id="phone_detail" class="category_detail" style="display:block;">
      {% for product in phone_products %}
      <div class="detail">
	<div class="product">
	  <a href="/detail/{{ product.id}}"><img src="{{ product.image_url }}"/></a>
	</div>
	<a href="/detail/{{ product.id }}"><p>{{ product.name }}</p></a>
      </div>
      {% endfor %}
    </div>
    <div id="category_camera" class="main_category">
      <div class="title">
	<h2>Camera</h2>
      </div>
      <div class="cate_title">
	<h3>카메라</h3>
      </div>
      <ul>
	{% for category in camera_categories %}
	<li><a href="/category">{{ category }}</a></li>
	{% endfor %}
      </ul>
    </div>
    <div id="camera_detail" class="category_detail">
      {% for product in camera_products %}
      <div class="detail">
	<div class="product">
	  <a href="/detail" value="{{ product.id }}"><img src="{{ product.image_url }}"/></a>
	</div>
	<a href="/detail" "{{ product.id }}"><p>{{ product.name }}</p></a>
      </div>
      {% endfor %}
    </div>
  </div>
  <hr>
  <div id="reviews">
    <div id="review_phone" class="main_review">
      <div class="title">
	<h3>디지털, 휴대폰 리뷰</h3>
      </div>
      {% for reviews in phone_reviews %}
      <div class="review">
	<div class="review_pic"><img src="{{ reviews.img }}"/></div>
	{% for review in reviews.reviews %}
	<p>{{ review.title }}</p>
	{% endfor %}
      </div>
      {% endfor %}
    </div>
    <div id="review_camera" class="main_review">
      <div class="title">
	<h3>카메라 리뷰</h3>
      </div>
      {% for reviews in phone_reviews %}
      <div class="review">
	<div class="review_pic"><img src="{{ reviews.img }}"/></div>
	{% for review in reviews.reviews %}
	<p>{{ review.title }}</p>
	{% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
