{% extends "tests/layout.html" %}
{% load static %}

{% block js_import %}/static/js/index.js{% endblock %}
{% block title %} ReviewGem {% endblock %}

{% block user_info %}
    {% if user.username %}
        <span>{{ user.username }}님 환영합니다.</span>
        <span>|</span>
        <span><a href="/logout">로그아웃</a></span>
    {% else %}
        <span><a href="/login">로그인</a></span>
        <span><a href="/account">회원가입</a></span>
    {% endif %}
{% endblock %}


{% block content %}
  <div id="category">
    <div id="category_phone" class="main_category">
      <div class="title">
	<h2 class="tab_title">Digital / Mobile</h2>
      </div>
      <div class="cate_wrapper">
	<div class="cate_title">
	  <h3>디지털 / 휴대폰</h3>
	</div>
	<ul class="cate_list">
	  {% for category in phone_categories %}
	  <li><a href="/category/{{ category.id }}">{{ category.category_name2 }}</a></li>
	  {% endfor %}
	</ul>
      </div>
    </div>
    <div id="phone_detail" class="category_detail">
      <div class="title">
      </div>
      <div class="cate_wrapper">
	{% for product in phone_products %}
	<div class="detail">
	  <div class="product">
	    <a href="/detail/{{ product.id}}"><img src="{{ product.image_url }}"/></a>
	  </div>
	  <a href="/detail/{{ product.id }}" class="product_name">{{ product.name }}</a>
	</div>
	{% endfor %}
      </div>
    </div>
    <div id="camera_detail" class="category_detail">
      <div class="title">
      </div>
      <div class="cate_wrapper">
      {% for product in phone_products %}
      <div class="detail">
	<div class="product">
	  <a href="/detail/{{ product.id }}"><img src="{{ product.image_url }}"/></a>
	</div>
	<a href="/detail/{{ product.id }}" class="product_name"><p>{{ product.name }}</p></a>
      </div>
      {% endfor %}
      </div>
    </div>
    <div id="category_camera" class="main_category">
      <div class="title">
	<h2 class="tab_title">Camera</h2>
      </div>
      <div class="cate_wrapper">
	<div class="cate_title">
	  <h3>카메라</h3>
	</div>
	<ul class="cate_list">
	  {% for category in camera_categories %}
	  <li><a href="/category">{{ category }}</a></li>
	  {% endfor %}
	</ul>
      </div>
    </div>
  </div>
  <div id="reviews">
    <div id="review_phone" class="main_review">
      <div class="title">
	<h2 class="tab_title">디지털, 휴대폰 리뷰</h2>
	<div class="divider">
	  <span></span>
	</div>
      </div>
      {% for reviews in phone_reviews %}
      <div class="review">
	<div class="review_pic"><a href="/detail/{{ reviews.product_id }}"><img src="{% static reviews.img %}"/></a></div>
	<div class="review_detail">
	  <h3 class="cate_title"><a href="/detail/{{ reviews.product_id }}">{{ reviews.name }}</a></h3>
	  {% for review in reviews.reviews %}
	  <a href="{{ review.url }}" target="_blank">{{ review.title }}</a><br>
	  {% endfor %}
	</div>
      </div>
      {% endfor %}
    </div>
    <div id="review_camera" class="main_review">
      <div class="title">
	<h2 class="tab_title">카메라 리뷰</h2>
	<div class="divider">
	  <span></span>
	</div>
      </div>
      {% for reviews in phone_reviews %}
      <div class="review">
	<div class="review_pic"><img src="{% static reviews.img %}"/></div>
	<div class="review_detail">
	  <h3 class="cate_title"><a>갤럭시 S5</a></h3>
	  {% for review in reviews.reviews %}
	  <a>{{ review.title }}</a><br>
	  {% endfor %}
	</div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
