{% extends 'tests/base.html' %}
{% load static %}

<!--
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<script src="{% static 'js/jquery-1.9.0.js' %}"></script>
<div id="nav">
  <div id="nav_wrapper">
    <h1><a href="/">ReviewGem</a></h1>
    <div id="user_account">
      <span>로그인</span>
      <span>|</span>
      <span>회원가입</span>
    </div>
    <div id="search">
      <input type="text" id="search_box"/>
    </div>
  </div>
</div>
-->


{% block css_import %}/static/css/login.css{% endblock %}
{% block title %}ReviewGem-login{% endblock %}

{% block content %}
  <div id="login_box">
    <div id="login">
      <h2>ReviewGem</h2>
      <div id="login_wrapper">
	<form method="post" action="{% url 'login' %}">{% csrf_token %}
	  <input type="text" id="user_id" class="text_input" name="user_id"/>
	  <input type="text" id="user_password" class="text_input" name="user_password"/>
	  <div id="login_option">
	    <input type="checkbox"/><p>로그인 상태 유지하기</p>
	    <button type="submit" id="login_button" name="login_submit">로그인</button>
	  </div>
	</form>
      </div>
    </div>
    <div id="login_no_account">
      <p>다음 계정으로 로그인하기 : </p>
      <p>Facebook</p>
      <p>Gmail</p>
      <hr/>
      <p>ReviewGem에 <a href="/account">가입</a>하기.</p>
        <p>{{user}}</p>
    </div>
  </div>
</div>
{% endblock %}
