{% extends 'tests/test_base.html' %}
{% load static %}

{% block css_import %}/static/css/test.css{% endblock %}
{% block title %}ReviewGem-Account{% endblock %}

{% block content %}
<h2>회원등록</h2>
<div class="login" style="margin : auto; width : 50%;">
  <h3 class="info_title">회원 약관</h3>
  <div class="login_wrapper">
    <pre class="info">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi luctus. Duis lobortis. Nulla nec velit.

Vivamus tortor nisl, lobortis in, faucibus et, tempus at, dui. Nunc risus. Proin scelerisque augue. Nam ullamcorper. Phasellus id massa. Pellentesque nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc augue. Aenean sed justo non leo vehicula laoreet. Praesent ipsum libero, auctor ac, tempus nec, tempor nec, justo.

Maecenas ullamcorper, odio vel tempus egestas, dui orci faucibus orci, sit amet aliquet lectus dolor et quam. Pellentesque consequat luctus purus. Nunc et risus. Etiam a nibh. Phasellus dignissim metus eget nisi. Vestibulum sapien dolor, aliquet nec, porta ac, malesuada a, libero. Praesent feugiat purus eget est. Nulla facilisi. Vestibulum tincidunt sapien eu velit. Mauris purus. Maecenas eget mauris eu orci accumsan feugiat. Pellentesque eget velit. Nunc tincidunt.

Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi luctus. Duis lobortis. Nulla nec velit. Mauris pulvinar erat non massa. Suspendisse tortor turpis, porta nec, tempus vitae, iaculis semper, pede. Cras vel libero id lectus rhoncus porta. Suspendisse convallis felis ac enim. Vivamus tortor nisl, lobortis in, faucibus et, tempus at, dui. Nunc risus. Proin scelerisque augue. Nam ullamcorper

Maecenas ullamcorper, odio vel tempus egestas, dui orci faucibus orci, sit amet aliquet lectus dolor et quam. Pellentesque consequat luctus purus.

Nunc et risus. Etiam a nibh. Phasellus dignissim metus eget nisi.

 
To all of you, from all of us at Magento Store - Thank you and Happy eCommerce!

John Doe
Some important guy</pre>
  </div>
</div>
<div id="account" style="margin : auto; width : 50%;">
  <h3 class="info_title">회원 정보 입력</h3>
  <div class="login_wrapper">
    <form method="post" action="{% url 'account'%}">{% csrf_token %}
      <label for="user_id">아이디 : </label><input type="text" id="user_id" name="user_id"/>
      <label for="user_nickname">닉네임 : </label><input type="text" id="nickname" name="user_nickname"/>
      <label for="user_password">패스워드 : </label><input type="password" id="password" name="user_password"/>
      <label for="user_passowrd_confirm">패스워드 확인 : </label><input type="password" id="confirm" name="user_password_confirm"/>
    </form>
  </div>
  <button type="submit" name="create_user_account">회원가입</button>
</div>

{% endblock %}
