{% extends 'tests/test_base.html' %}
{% load static %}

{% block title %}ReviewGem-Category{% endblock %}
{% block css_import %}/static/css/category.css{% endblock %}

{% block user_info %}
    {% if user.username %}
        <span>{{ user.username }}님 환영합니다.</span>
        <span>|</span>
        <span><a href="/logout">로그아웃</a></span>
    {% else %}
        <span><a href="/login">로그인</a></span>
        <span><a href="/account">회원가입</a></span>
    {% endif %}
{% endblock %}


{% block content %}
  <div id="category_filter">
    <div id="category_phone" class="main_category">
      <div class="title">
	<h2>Digital/Mobile</h2>
      </div>
    </div>
    <div id="category_camera" class="main_category">
      <div class="title">
	<h2>Camera</h2>
      </div>
    </div>
    <div id="filter">
    </div>
  </div>
  <div id="search_result">
    {% for category_product in category_product_lists %}
    <div class="search_product" style="height : 450px;">
      <div class="product_image" style="width : 150px; height : 150px;">
	<a href="/detail/{{ category_product.product.id }}"><img src="{{ category_product.product.image_url }}"/></a>
	<h3 class="cate_title" style="padding:0; margin : 10px;"><a href="/detail/{{ category_product.product.id }}">갤럭시 S4{{ category_product.produuct.name }}</a></h3>
      </div>
      <div class="product_detail" style=" width : 950px; height : 450px;">
	<div class="product_procon" style="width : 100%;">
	  <div class="procon" style="float : left; width : 50%;">
	    <p class="procon_title">Good!!!</p>
	    <p>pros</p>
	    <p>pros</p>
	    <p>pros</p>
<!--
	    {% for pros in category_product.pros.0 %}
	    <p>{{ pros }}</p>
	    {% endfor %}
-->
	  </div>
	  <div class="procon" style="float : left; width : 50%;">
	    <p class="procon_title">Bad...</p>
	    <p>pros</p>
	    <p>pros</p>
	    <p>pros</p>
<!--
	    {% for cons in category_product.cons.0 %}
	    <p>{{ cons }}</p>
	    {% endfor %}
-->
	  </div>
	</div>
	<div class="product_reviews" style="width : 100%; height : 300px; margin-left : 0;">
	  <div class="product_review">
	    <a class="review_title">갤4 문제있어요..;</a>
	    <p class="review_date">2013-01-23</p>
	    <p class="review_content">갤럭시 S4에는 단점이 많네요.. 화질도 안좋게 나오고 그립감도 별로고요. 휴대성은 뭐 괜찮은 듯 싶은데 그냥 좋지도 나쁘지도 않은? 그런 느낌이네요</p>
	  </div>
	  <div class="product_review">
	    <a class="review_title">갤럭시S4 사용법</a>
	    <p class="review_date">2013-01-23</p>
	    <p class="review_content">갤럭시 S4에는 단점이 많네요.. 화질도 안좋게 나오고 그립감도 별로고요. 휴대성은 뭐 괜찮은 듯 싶은데 그냥 좋지도 나쁘지도 않은? 그런 느낌이네요</p>
	  </div>
	  <div class="product_review">
	    <a class="review_title">갤럭시S4 사용 후기</a>
	    <p class="review_date">2013-01-23</p>
	    <p class="review_content">갤럭시 S4에는 단점이 많네요.. 화질도 안좋게 나오고 그립감도 별로고요. 휴대성은 뭐 괜찮은 듯 싶은데 그냥 좋지도 나쁘지도 않은? 그런 느낌이네요</p>
	  </div>
<!--
	  {% for review_list in category_product.review %}
          {% for review in review_list %} 
	  <div class="product_review">
	    <p class="review_title">{{ review.title }}</p>
	    <p class="review_date">{{ review.create_time }}</p>
	    <p class="review_content">{{ review.content }}</p>
	  </div>
          {% endfor %}
	  {% endfor %}
-->
	</div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
